<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Funkos Store</title>

    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <style>
        .img-default{
            width: 100px;
        }
    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fa fa-poo"></i>
            </div>
            <div class="sidebar-brand-text mx-3">ISIL Register</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Pagina Principal</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/}" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fa fa-book"></i>
                <span>Administracion</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Administracion:</h6>
                    <a class="collapse-item" th:href="@{/curso/create}">Registrar Curso</a>
                    <a class="collapse-item" th:href="@{/alumno/create}">Registrar Alumno</a>
                    <a class="collapse-item" th:href="@{/create}">Ingresar Notas a Alumno</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div class="container my-2">
                <form class="row gy-2 gx-3 align-items-center" th:action="@{/create}" th:object="${notaReq}" method="post">
                    <div class="col-12 text-center bg-dark text-light">
                        <h2>Registrar Alumno en Curso y Notas</h2>
                    </div>
                    <div class="col-12 text-center bg-secondary">
                        <h3 class="text-light">Datos</h3>
                    </div>
                    <div class="col-6 my-3">
                        <div class="input-group">
                            <div class="input-group-text">Curso</div>
                            <select class="form-select w-50" aria-label="Default select example" th:field="*{nrc}">
                                <option selected value="0">Elija el Curso</option>
                                <option th:each="curso : ${cursos}" th:text="${curso.nombre}" th:value="${curso.nrc}">Curso Test</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 my-3">
                        <div class="alert alert-danger align-items-center mb-3 d-flex" role="alert" th:if="${#fields.hasErrors('dni')}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            <p th:errors="*{dni}" th:text="${#fields.errors('dni')}" class="mt-3 ml-4 text-2xl">
                            </p>
                        </div>
                        <div class="input-group">
                            <div class="input-group-text">DNI del Alumno</div>
                            <select class="form-select w-50" aria-label="Default select example" th:field="*{dni}">
                                <option selected value="0">Elija el DNI del Alumno</option>
                                <option th:each="alumno : ${alumnos}" th:text="${alumno.dni}" th:value="${alumno.dni}">Alumno Test</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3 my-3">
                        <div class="alert alert-danger align-items-center mb-3 d-flex" role="alert" th:if="${#fields.hasErrors('ep1')}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            <p th:errors="*{ep1}" th:text="${#fields.errors('ep1')}" class="mt-3 ml-4 text-2xl">
                            </p>
                        </div>
                        <div class="input-group">
                            <div class="input-group-text">Eva Permanente 1</div>
                            <input type="number" class="form-control" id="ep1" placeholder="Nota de la EP1" th:field="*{ep1}">
                        </div>
                    </div>
                    <div class="col-3 my-3">
                        <div class="alert alert-danger align-items-center mb-3 d-flex" role="alert" th:if="${#fields.hasErrors('ep2')}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            <p th:errors="*{ep2}" th:text="${#fields.errors('ep2')}" class="mt-3 ml-4 text-2xl">
                            </p>
                        </div>
                        <div class="input-group">
                            <div class="input-group-text">Eva Permanente 2</div>
                            <input type="number" class="form-control" id="ep2" placeholder="Nota de la EP2" th:field="*{ep2}">
                        </div>
                    </div>
                    <div class="col-3 my-3">
                        <div class="alert alert-danger align-items-center mb-3 d-flex" role="alert" th:if="${#fields.hasErrors('ep3')}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            <p th:errors="*{ep3}" th:text="${#fields.errors('ep3')}" class="mt-3 ml-4 text-2xl">
                            </p>
                        </div>
                        <div class="input-group">
                            <div class="input-group-text">Eva Permanente 3</div>
                            <input type="number" class="form-control" id="ep3" placeholder="Nota de la EP3" th:field="*{ep3}">
                        </div>
                    </div>
                    <div class="col-3 my-3">
                        <div class="alert alert-danger align-items-center mb-3 d-flex" role="alert" th:if="${#fields.hasErrors('ep4')}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            <p th:errors="*{ep4}" th:text="${#fields.errors('ep4')}" class="mt-3 ml-4 text-2xl">
                            </p>
                        </div>
                        <div class="input-group">
                            <div class="input-group-text">Eva Permanente 4</div>
                            <input type="number" class="form-control" id="ep4" placeholder="Nota de EP4" th:field="*{ep4}">
                        </div>
                    </div>
                    <div class="col-4 my-3">
                        <div class="alert alert-danger align-items-center mb-3 d-flex" role="alert" th:if="${#fields.hasErrors('evaParcial')}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            <p th:errors="*{evaParcial}" th:text="${#fields.errors('evaParcial')}" class="mt-3 ml-4 text-2xl">
                            </p>
                        </div>
                        <div class="input-group">
                            <div class="input-group-text">Evaluacion Parcial</div>
                            <input type="number" class="form-control" id="evaParcial" placeholder="Nota de la E.Parcial" th:field="*{evaParcial}">
                        </div>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4 my-3">
                        <div class="alert alert-danger align-items-center mb-3 d-flex" role="alert" th:if="${#fields.hasErrors('evaFinal')}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            <p th:errors="*{evaFinal}" th:text="${#fields.errors('evaFinal')}" class="mt-3 ml-4 text-2xl">
                            </p>
                        </div>
                        <div class="input-group">
                            <div class="input-group-text">Evaluacion Final</div>
                            <input type="number" class="form-control" id="evaFinal" placeholder="Nota de EP4" th:field="*{evaFinal}">
                        </div>
                    </div>
                    <div class="col-12 mt-5 row">
                        <button type="submit" class="btn btn-primary col-4">Enviar</button>
                        <div class="col-4"></div>
                        <button type="reset" class="btn btn-secondary col-4">Reset</button>
                    </div>
                </form>
            </div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>

</body>

</html>